.aside-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  height: 99rem;
}
/* each row  */
.aside-bar div ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  height: 3.3rem;
}
/* text content */
.aside-bar div li a {
  color: var(--dark-theme-white-fonts);
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* lighter color upon  */
.aside-bar div li a:hover {
  background-color: var(--nav-color);
}
/* icon */
.aside-bar div li a i {
  width: 2rem;
  height: 2rem;
  padding: 1rem 2rem;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}
footer p a {
  text-decoration: none;
  margin-right: 1rem;
  color: rgb(155, 155, 155);
}
footer p {
  line-height: 1.3rem;
}
footer :last-child {
  margin-top: 2rem;
}
/*  separator  */
hr {
  display: flex;
  align-self: center;
  width: 13rem;
  border: 1px solid rgb(83, 83, 83);
}
