.aside-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;

  height: 75rem;
}
/* each row  */
.aside-bar div ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  height: 2.5rem;
  border: 1px red solid;
}
/* text content */
.aside-bar div li a {
  color: var(--dark-theme-white-fonts);
  text-decoration: none;
  font-size: large;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}
/* lighter color upon hover */
.aside-bar div li a:hover {
  background-color: var(--nav-color);

}
  /* icon */
.aside-bar div li a i {
  width: 2rem;
  height: 2rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px rgb(255, 0, 238) solid;
}

footer p a {
  text-decoration: none;
  margin-right: 1rem;
  color: rgb(155, 155, 155);
}
footer p {
  line-height: 1.3rem;
}
footer :last-child {
  margin-top: 2rem;
}
/*  separator  */
hr 
  display: flex;
  align-self: center;
  width: 9rem;
  color: var(--dark-theme-white-fonts);
}
