body {
  display: grid;
  /* background-color: aqua; */
  grid-template-columns: 2fr 3fr auto 5fr;
  grid-template-rows: 35fr 35fr;
  border: 2px black solid;
  grid-template-areas:
    "asidebar header header header"
    "asidebar main main main";
}

.aside-bar {
  grid-area: asidebar;
  background-color: rgb(234, 255, 0);
  border: 2px rgb(157, 130, 238) dashed;
}

main {
  grid-area: main;
  background-color: rgb(128, 0, 255);
  border: 2px rgb(233, 238, 130) dashed;
}
