body {
  display: grid;
  /* background-color: aqua; */
  grid-template-columns: 10rem 3fr auto 5fr;
  grid-template-rows: 30rem 40rem;
  /* border: 2px black solid; */
  grid-template-areas:
    "asidebar header header header"
    "asidebar main main main";
}
nav {
  /* border: 10px orange dashed; */
  grid-area: nav;
}
header {
  grid-area: header;
  /* background-color: rgb(0, 255, 81); */
  /* border: 3px red dashed; */
}
.aside-bar {
  grid-area: asidebar;
  background-color: rgb(48, 48, 48);
  /* border: 2px rgb(157, 130, 238) dashed; */
}

main {
  grid-area: main;
  background-color: #232224;
  /* border: 2px rgb(233, 238, 130) dashed; */
}
