body {
  display: grid;
  grid-template-columns: 3.3rem auto;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    "aside nav"
    "aside main";
}
nav {
  grid-area: nav;
  background-color: white;
}
main {
  grid-area: main;
}
.aside-bar {
  grid-area: aside;
}
