header {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 1fr;
  grid-template-columns: 5fr auto 5fr;
  grid-template-areas:
    "nav nav nav"
    "poster poster poster"
    "official official official"
    "menu-bar menu-bar menu-bar";
}
nav {
  border: 10px orange dashed;
  grid-area: nav;
}
.nasa-image {
  border: 10px rgb(170, 0, 255) dashed;
  grid-area: poster;
}

.nasa-official {
  border: 10px rgb(255, 0, 38) dashed;
  grid-area: official;
}
.menu-bar {
  border: 10px rgb(43, 0, 255) dashed;
  grid-area: menu-bar;
}
