main {
  display: grid;
  grid-template-rows: 3rem 14rem 14rem 14rem 14rem 14rem;
  grid-template-areas:
    "uploads"
    "first"
    "second"
    "third"
    "fourth"
    "fifth";
}
.uploads {
  grid-area: uploads;
}
.first-row {
  grid-area: first;
}
.second-row {
  grid-area: second;
}
.third-row {
  grid-row: third;
}
.fourth-row {
  grid-row: fourth;
}
.fifth-row {
  grid-row: fifth;
}
