main {
  display: grid;
  grid-template-rows: 2rem 20rem 20rem;
  grid-template-columns: repeat(6, 8rem);
  grid-template-areas:
    " uploads uploads uploads uploads uploads uploads"
    " first first first first first first "
    " second second second second second second ";
}

.uploads {
  /* background-color: rgba(239, 144, 228, 0.571); */
  grid-area: uploads;
}
.first-row {
  /* background-color: rgb(216, 209, 223); */
  grid-area: first;
}

.second-row {
  background-color: blanchedalmond;
  grid-area: second;
}
