.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-color);
}
/* center */
/* .menu-bar::before {
  content: "";
  width: 10vw;
} */

.menu-bar ul {
  display: flex;
  width: 70vw;
  justify-content: space-evenly;
  align-items: center;
  border: 2px red solid;
}
.menu-bar ul li {
  display: flex;
  justify-content: space-evenly;
  /* border: 2px red dashed; */
}
.menu-bar ul li a {
  color: rgba(19, 19, 19, 0.701);
  font-size: 1rem;
  text-decoration: none;
}
.menu-bar ul li a:active {
  /* border-bottom: 3px solid wheat; */
  transition: 0.04s;
  font-weight: 900;
}
