.nasa-official {
  display: flex;
  border: 5px indianred dashed;
  justify-content: center;
  align-items: center;
}
.nasa-official div {
  display: flex;
}
.control-space {
  display: flex;
  width: 80rem;
  justify-content: space-between;
  border: 10px rgb(130, 238, 155) dashed;
}

.nasa-official div img {
  width: 6rem;
  height: 5rem;

  border-radius: 100%;
}
/* subscribe button */
.nasa-official button {
  /* border: 2px rosybrown dashed; */
  width: 10rem;
  height: 3rem;
  background-color: tomato;
  color: white;
  border-radius: 5%;
  text-transform: uppercase;
  border: none;
  align-self: center;
}
.nasa-official button:active,
.nasa-official button:hover {
  /* background-color: rgba(220, 71, 44, 0.9); */
  cursor: pointer;
}
