/* whole grid row */
.nasa-official::before {
  content: "";
  width: 10rem;
}
.nasa-official {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--dark-theme-subscribe); */
}
/* whole container */
.nasa-official div {
  display: flex;
  align-self: center;
  text-transform: uppercase;
  /* color: var(--dark-theme-white-fonts); */
}
/* name and subs with logo */
.control-space {
  display: flex;
  width: 80rem;
  justify-content: space-between;
}
/* name and subs next to logo */
.account {
  width: 30rem;
  height: auto;
  justify-content: space-between;
}
/* text */
.name-subs {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 21rem;
  position: relative;
}
/* nasa name */
.name-subs :first-child {
  width: 17rem;
  display: flex;
  align-self: flex-start;
  font-size: 1.5rem;
}
/* verify icon */
.name-subs :first-child > div {
  width: 4rem;
}
.name-subs :first-child > div > div {
  display: none;
}

/* nasa subs */
.name-subs :last-child {
  width: 10rem;
  display: flex;
  align-self: flex-start;
  font-size: 1rem;
  color: var(--dark-theme-gray-fonts);
}
/* nasa logo  */
.nasa-official div img {
  width: 6.5rem;
  height: 5.5rem;
  background-color: white;
  border: 1px transparent black;
  border-radius: 100%;
  padding: 0.5rem;
}
/* subscribe button */
.nasa-official .subs-button {
  width: 10rem;
  height: 3rem;
  background-color: tomato;
  color: white;
  border-radius: 5%;
  text-transform: uppercase;
  border: none;
  align-self: center;
}

/* micky mouse cursor */
.nasa-official button:hover {
  cursor: pointer;
}
/* darker red effect */
.nasa-official button:active {
  background-color: rgba(220, 71, 44, 0.9);
}
