nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-theme-subscribe);
  border: 1px red solid;
}
/* setting youtube-logo */
nav img {
  width: 8vw;
  background-color: transparent;
}
/* hamburger menu and youtube logo */
.nav-start {
  display: flex;
  flex-direction: row;
  width: 15rem;
  justify-content: space-evenly;
  align-items: center;
}
/* search-bar */
.search-bar {
  border: 1px rgb(189, 189, 189) solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 0 2px 2px 0;
  border: none;
  width: 50rem;
  height: 3rem;
  border-radius: 0 2px 2px 0;
}
/* search text */
form input[type="text"] {
  width: 30rem;
  height: 2.6rem;
  outline: none;
  border-right: none;
}
/* search button */
.search {
  cursor: pointer;
  border: 1px rgb(189, 189, 189) solid;
  background-color: rgb(176, 170, 170);
  border-radius: 0 2px 2px 0;
  height: 2.5rem;
  width: 3rem;
}
/* search icon inside the search  button*/
form button i {
  color: white;
}
/* microphone */
.micro {
  width: 4vh;
  height: 4vh;
  border-radius: 100%;
  background-color: rgb(82, 82, 82);
  border-color: rgb(82, 82, 82);
  align-self: center;
  margin-left: 1%;
  outline: none;
  cursor: pointer;
}
/* fancy checkbox */
.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hide the ugly html checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The switch */
.switch {
  position: relative;
  width: 4rem;
  height: 2rem;
  /* border: 2px red dashed; */
  margin-left: 1rem;
}
.slider {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* border: 2px orange dashed; */
  cursor: pointer;
  background-color: #ccc;
  border-radius: 5rem;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  border-radius: 100%;
  left: 0.25rem;
  bottom: 0.35rem;
  width: 1rem;
  height: 1rem;
  background-color: white;
}
.switch input:checked + .slider {
  background-color: orange;
}
.switch input:checked + .slider::before {
  transform: translateX(2.5rem);
}

/* on click */
form + button:active {
  background-color: rgb(159, 159, 159);
}
/* end-nav flex box */
.end-nav {
  width: 18vw;
  display: flex;
  justify-content: space-evenly;
}
/* avatar */
.end-nav img {
  width: 2vw;
  height: 6vh;
  border-radius: 100%;
  cursor: pointer;
}
/* background transparent */
.end-nav button {
  border: none;
  background-color: transparent;
}
/* bigger icons */
.end-nav button > i {
  /* border: 5px salmon dashed; */
  color: var(--dark-theme-white-fonts);
  cursor: pointer;
  font-size: 1.3rem;
}
/* hamburger menu */
.hamburger {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 1 rem;
  height: 1.4rem;
}
.hamburger div {
  width: 1.2rem;
  background-color: var(--dark-theme-white-fonts);
  border-radius: 10%;
  border: 1px var(--dark-theme-white-fonts) solid;
}
