:root {
  --nav-color: #6d6d6d;
  --dark-theme-white-fonts: rgba(255, 255, 255, 0.88);
  --dark-theme-gray-fonts: rgb(171, 171, 171);
  --dark-theme-color-aside-bar: rgb(48, 48, 48);
  --dark-theme-subscribe: #313131;
}
