.uploads {
  width: 80vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px red dashed;
}
.first-row {
  display: flex;
  width: 80vw;
}
.second-row {
  display: flex;
  width: 80vw;
}
.uploads::before {
  content: "";
  width: 30rem;
}
.first-row::before {
  content: "";
  width: 30rem;
}
.second-row::before {
  content: "";
  width: 30rem;
}

.video {
  margin-top: 1rem;
  border: 1px gray solid;
}
.video div a {
  color: white;
  font-weight: 900;
  text-decoration: none;
}
.info-video {
  color: gray;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0.5;
  border: 2px red dashed;
}
