.uploads {
  width: 80vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px red dashed;
}
.first-row {
  display: flex;
  width: 80vw;
}
.second-row {
  display: flex;
  width: 80vw;
}
.uploads::before {
  content: "";
  width: 30rem;
}
.first-row::before {
  content: "";
  width: 30rem;
}
.second-row::before {
  content: "";
  width: 30rem;
}
