.uploads {
  width: 80vw;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  color: var(--dark-theme-white-fonts);
}
/* uploads */
.uploads div:nth-child(1) {
  width: 17rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/* chevron-down icon */
.uploads div:nth-child(1) i {
  font-size: 0.8rem;
  padding: 0.1rem 0.5rem;
}
/* sort by */
.uploads div:nth-child(2) {
  width: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
}
.uploads div:nth-child(2) i {
  font-size: 1rem;
  padding: 0.1rem 0.5rem;
}
.first-row {
  display: flex;
  width: 80vw;
}
.second-row {
  display: flex;
  width: 80vw;
}
.fourth-row {
  display: flex;
  width: 80vw;
}
.fifth-row {
  display: flex;
  width: 80vw;
}
.third-row {
  display: flex;
  width: 80vw;
}

.first-row::before {
  content: "";
  width: 22rem;
}
.second-row::before {
  content: "";
  width: 22rem;
}
.third-row::before {
  content: "";
  width: 22rem;
}
.fourth-row::before {
  content: "";
  width: 22rem;
}
.fifth-row::before {
  content: "";
  width: 22rem;
}

.video div a {
  color: white;
  font-weight: 900;
  text-decoration: none;
}
.first-row .video,
.second-row .video,
.third-row .video,
.fourth-row .video,
.fifth-row .video {
  margin-top: 1rem;
  margin-left: 0.4rem;
  border: 1px gray transparent;
  color: var(--dark-theme-white-fonts);
  width: 16rem;
  height: 13rem;
  justify-content: space-between;
}
.video img {
  width: 13.5rem;
  height: 7rem;
}
.info-video {
  color: var(--dark-theme-gray-fonts);
  display: flex;
  width: 12rem;
  justify-content: space-between;
  margin: 1rem 0.5rem;
}
